annotated-types
asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-database-url
Django
django-adminlte-3
django-adminlte3
django-bitfield
django-cors-headers
django-geo
django-heroku
django-js-asset
django-mptt
django-ninja
django-separatedvaluesfield
django-tailwind
django-timezone-field
django-uuidfield
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
gunicorn
idna
lxml
mysqlclient
numpy
oauthlib
packaging
pandas
pillow
postgis
psycopg2
pycparser
pydantic
pydantic_core
PyJWT
python-dateutil
python-dotenv
python3-openid
pytz
requests
requests-oauthlib
six
South
sqlparse
typing_exten
